---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <div class="w-full max-w-screen-sm mx-auto py-16 space-y-4">

      <Sectionhead>
        <Fragment slot="title">Contacto</Fragment>
        <Fragment slot="desc">Escribenos y en momento te respondemos</Fragment>
      </Sectionhead>
      <Contactform />
    </div>

  </Container>
</Layout>
