---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import CTA from "@components/cta.astro";
---


<Layout title="About">
<Container >

    <article class="prose prose-lg mx-auto mt-24">

        <h1>Sobre Nosotros</h1>
        <p>En Armadores Montevideo, somos un equipo dedicado y apasionado por el arte del ensamblaje de muebles. Nuestro compromiso es ofrecer un servicio de alta calidad, asegurando que cada mueble que armamos cumpla con los estándares más exigentes.</p>
        <p> Cada miembro de nuestro equipo aporta habilidades únicas, lo que nos permite abordar cualquier proyecto con profesionalismo y atención al detalle.</p>
        
        <p>Entendemos que armar muebles puede ser una tarea desafiante y a veces frustrante.</p>

        <p>Para nosotros, cada proyecto es una oportunidad de demostrar nuestra experiencia y dedicación. Nos aseguramos de que cada pieza esté perfectamente ensamblada y lista para usar, transformando tu espacio con comodidad y estilo.</p>

        <p>Si tienes alguna pregunta o necesitas un servicio personalizado, no dudes en contactarnos. Estamos aquí para ayudarte y convertir tus muebles en nuestro próximo gran proyecto de construcción.</p>
    </article>

</Container>
<CTA />
</Layout>
