---
import BtnWhatsapp from "./ui/BtnWhatsapp.astro";
---

<div id="contacto" class="sm:py-20">
  <div class="bg-gradient-to-r from-purple-500 to-indigo-600 text-white p-8 md:px-20 md:py-20 mx-auto max-w-screen-xl rounded-lg shadow-lg flex flex-col md:flex-row items-center justify-between text-center md:text-left">
    <div class="w-full max-w-md">
      <h2 class="text-4xl md:text-6xl font-bold tracking-tight">
        ¡Llamanos Sin Compromiso!
      </h2>
      <p class="text-blue-100 mt-4 text-lg md:text-xl">
        Consulta tu precio. Estamos aquí para ayudarte con cualquier consulta que tengas.
      </p>
    </div>
    <div class="mt-8 md:mt-0">
      <a href="https://wa.me/59892872427" target="_blank" class="text-lg flex items-center bg-green-500 text-white font-semibold py-4 px-8 rounded-full shadow-md hover:bg-green-600 transition duration-300">
        <svg class="w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 0C5.373 0 0 5.373 0 12c0 2.123.553 4.106 1.514 5.847L0 24l6.292-1.658A11.944 11.944 0 0012 24c6.627 0 12-5.373 12-12S18.627 0 12 0zm6.29 17.29l-1.41 1.41a1 1 0 01-1.42 0l-1.41-1.41a1 1 0 010-1.42l1.41-1.41a1 1 0 011.42 0l1.41 1.41a1 1 0 010 1.42zM12 2a10 10 0 100 20 10 10 0 000-20zm0 18a8 8 0 110-16 8 8 0 010 16z"/>
        </svg>
        WhatsApp
      </a>
    </div>
  </div>
</div>
