---
import { Picture } from "astro:assets";
import heroImage from "assets/hero2.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center py-20 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block ">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      class="aspect-square object-cover rounded-lg"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
       Armado Profesional de Muebles en Montevideo
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Expertos en Montaje de Muebles para Hogar y Oficina. Rápido, Eficiente y Sin Estrés. ¡Reserva tu Cita Hoy Mismo y Disfruta de tus Nuevos Muebles en Poco Tiempo!
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="#contacto"
        class="flex gap-2 items-center justify-center font-bold lg:text-2xl"
        rel="noopener">
        <Icon class="text-white w-8 h-8" name="bx:bxs-cloud-download" />
         Agendar
      </Link>
    </div>
  </div>
</main>
