---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/inter';
import { SITE  } from '../consts';
import Cta from "@components/cta.astro";

export interface Props {
  title: string;
  description?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

let { title, description } = Astro.props;
title = !!title ? title + " | " + "Armadores Montevideo" : SITE.TITLE
description = description || SITE.DESCRIPTION
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />

    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={title }
      description={description}
      canonical={canonicalURL}
      twitter={{
        creator: "@sotoplatero",
        site: "@sotoplatero",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: title,
          image: resolvedImageWithDomain,
        },

      }}
    />
    <script async src="https://umamisoto.vercel.app/script.js" data-website-id="76d3478a-5e3b-4e50-ba65-597d5d7655e1" data-domains="armadoresmontevideo.uy"></script>
  </head>
  <body class="overflow-x-hidden">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
